<h1>Agregar Un Nuevo CURSO</h1>

<form [formGroup]="formulario" (ngSubmit)="agregarCurso()">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Nombre del curso</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Comision de Curso</mat-label>
                <input matInput formControlName="comision">
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <mat-form-field>
                <mat-label>profesor</mat-label>
                <input matInput formControlName="profesor">
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Fecha de Inicio</mat-label>
                <input matInput [matDatepicker]="fechaInicio" formControlName="inicio">
                <mat-hint></mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                <mat-datepicker #fechaInicio></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <mat-form-field>
                <mat-label>fecha Final</mat-label>
                <input matInput [matDatepicker]="fechaFin" formControlName="fin">
                <mat-hint></mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="fechaFin"></mat-datepicker-toggle>
                <mat-datepicker #fechaFin></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <mat-slide-toggle formControlName="inscripcionAbierta">Inscripcion Abierta</mat-slide-toggle>
        </div>

        <div class="col-md-12">
            <button mat-raised-button color="primary" type="submit">Agregar Curso</button>
        </div>



    </div>
</form>